USE [master]
GO
/****** Object:  Database [Колледж2]    Script Date: 01.07.2022 10:29:45 ******/
CREATE DATABASE [Колледж2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Колледж2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Колледж2.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 10%)
 LOG ON 
( NAME = N'Колледж2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\Колледж2_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Колледж2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Колледж2]
GO
/****** Object:  Table [dbo].[Дисциплины]    Script Date: 01.07.2022 10:29:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Дисциплины](
	[КодДисциплины] [int] NOT NULL,
	[Название] [nvarchar](max) NOT NULL,
	[Направление] [nvarchar](max) NULL,
 CONSTRAINT [PK_Дисциплины] PRIMARY KEY CLUSTERED 
(
	[КодДисциплины] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Преподаватели]    Script Date: 01.07.2022 10:29:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Преподаватели](
	[ТабельныйНомер] [int] NOT NULL,
	[Фамилия] [nvarchar](max) NOT NULL,
	[Должность] [nvarchar](max) NULL,
	[Кафедра] [nvarchar](max) NULL,
	[Стаж] [int] NULL,
 CONSTRAINT [PK_Преподаватели] PRIMARY KEY CLUSTERED 
(
	[ТабельныйНомер] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[УчебнаяНагрузка]    Script Date: 01.07.2022 10:29:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[УчебнаяНагрузка](
	[Преподаватель] [int] NOT NULL,
	[Дисциплина] [int] NOT NULL,
	[Группа] [int] NOT NULL,
	[Семестр] [int] NOT NULL,
	[КоличествоЧасов] [int] NOT NULL,
 CONSTRAINT [PK_УчебнаяНагрузка] PRIMARY KEY CLUSTERED 
(
	[Преподаватель] ASC,
	[Дисциплина] ASC,
	[Группа] ASC,
	[Семестр] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Дисциплины] ([КодДисциплины], [Название], [Направление]) VALUES (1, N'Информатика', NULL)
INSERT [dbo].[Дисциплины] ([КодДисциплины], [Название], [Направление]) VALUES (2, N'ЭиЭ', N'техническое')
INSERT [dbo].[Дисциплины] ([КодДисциплины], [Название], [Направление]) VALUES (3, N'ИиКГ', NULL)
GO
INSERT [dbo].[Преподаватели] ([ТабельныйНомер], [Фамилия], [Должность], [Кафедра], [Стаж]) VALUES (11, N'Галкина', N'доцент', N'ЭВМ', 8)
INSERT [dbo].[Преподаватели] ([ТабельныйНомер], [Фамилия], [Должность], [Кафедра], [Стаж]) VALUES (12, N'Чичиков', N'доцент', N'ЭВМ', 19)
INSERT [dbo].[Преподаватели] ([ТабельныйНомер], [Фамилия], [Должность], [Кафедра], [Стаж]) VALUES (13, N'Иванов', N'доцент', N'ЭВМ', 35)
GO
INSERT [dbo].[УчебнаяНагрузка] ([Преподаватель], [Дисциплина], [Группа], [Семестр], [КоличествоЧасов]) VALUES (11, 7, 641, 5, 32)
INSERT [dbo].[УчебнаяНагрузка] ([Преподаватель], [Дисциплина], [Группа], [Семестр], [КоличествоЧасов]) VALUES (11, 10, 641, 5, 68)
INSERT [dbo].[УчебнаяНагрузка] ([Преподаватель], [Дисциплина], [Группа], [Семестр], [КоличествоЧасов]) VALUES (12, 9, 640, 5, 68)
GO
ALTER TABLE [dbo].[УчебнаяНагрузка]  WITH CHECK ADD  CONSTRAINT [FK_УчебнаяНагрузка_Дисциплины] FOREIGN KEY([Дисциплина])
REFERENCES [dbo].[Дисциплины] ([КодДисциплины])
GO
ALTER TABLE [dbo].[УчебнаяНагрузка] CHECK CONSTRAINT [FK_УчебнаяНагрузка_Дисциплины]
GO
ALTER TABLE [dbo].[УчебнаяНагрузка]  WITH CHECK ADD  CONSTRAINT [FK_УчебнаяНагрузка_Преподаватели] FOREIGN KEY([Преподаватель])
REFERENCES [dbo].[Преподаватели] ([ТабельныйНомер])
GO
ALTER TABLE [dbo].[УчебнаяНагрузка] CHECK CONSTRAINT [FK_УчебнаяНагрузка_Преподаватели]
GO
USE [master]
GO
