USE [master]
GO
/****** Object:  Database [College]    Script Date: 26.01.2026 20:42:14 ******/
CREATE DATABASE [College]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'College', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\College.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'College_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\College_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [College].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [College]
GO
/****** Object:  Table [dbo].[AcademicLoad]    Script Date: 26.01.2026 20:42:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AcademicLoad](
	[AcademLoadCode] [int] IDENTITY(1,1) NOT NULL,
	[TeacherCode] [int] NOT NULL,
	[DisciplineCode] [int] NOT NULL,
	[Group] [int] NOT NULL,
	[Semester] [int] NOT NULL,
	[NumberOfHours] [int] NOT NULL,
 CONSTRAINT [PK_AcademicLoad] PRIMARY KEY CLUSTERED 
(
	[AcademLoadCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Disciplines]    Script Date: 26.01.2026 20:42:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Disciplines](
	[DisciplineCode] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Direction] [nvarchar](max) NULL,
 CONSTRAINT [PK_Дисциплины] PRIMARY KEY CLUSTERED 
(
	[DisciplineCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teachers]    Script Date: 26.01.2026 20:42:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teachers](
	[ServiceNumber] [int] IDENTITY(1,1) NOT NULL,
	[Surname] [nvarchar](max) NOT NULL,
	[Post] [nvarchar](max) NULL,
	[Department] [nvarchar](max) NULL,
	[Experience] [int] NULL,
 CONSTRAINT [PK_Преподаватели] PRIMARY KEY CLUSTERED 
(
	[ServiceNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[AcademicLoad]  WITH CHECK ADD  CONSTRAINT [FK_УчебнаяНагрузка_Дисциплины] FOREIGN KEY([DisciplineCode])
REFERENCES [dbo].[Disciplines] ([DisciplineCode])
GO
ALTER TABLE [dbo].[AcademicLoad] CHECK CONSTRAINT [FK_УчебнаяНагрузка_Дисциплины]
GO
ALTER TABLE [dbo].[AcademicLoad]  WITH CHECK ADD  CONSTRAINT [FK_УчебнаяНагрузка_Преподаватели] FOREIGN KEY([TeacherCode])
REFERENCES [dbo].[Teachers] ([ServiceNumber])
GO
ALTER TABLE [dbo].[AcademicLoad] CHECK CONSTRAINT [FK_УчебнаяНагрузка_Преподаватели]
GO
USE [master]
GO
